@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo ao Leilão do meu Coração</h1>
    <p>Estamos aqui para te ajudar a leiloar produtos. Conte conosco para ajudá-lo!!</p>
</div>
